body
{
    width: 960px;
    margin: auto;
}
div.main
{
    background-color: #7bffab;    
}
header
{
    background-color: #F7D7B1;
    min-height: 100px;
    position: relative;
    display: flex;
}
nav
{
    position: absolute;
    width: auto;
    height: 40px;
    top: 1px;
    right: 1px;
}
nav div 
{
    list-style: none;
    margin: 0pt;
    padding: 0pt;
}
nav div a
{
    display: inline-block;
    padding: 10px 20px;
    background-color: #aaaaaad8;
    border: 1px solid #000000;
    width: 100px;
    margin: 3px;
    border-radius: 10px 0px 10px 0px;

    text-decoration: none;
    text-align: center;
    color:#000;
    font-size: 18px;
    font-weight: bold;
    font-style: oblique;
}
img.logo
{
    position:absolute;
    width: 80px;
    height: 80px;
    border-radius:50px;
    left:20px;
    top:50%;
    transform: translateY(-50%);
}
h1  
{
    position: absolute;
    margin: 0pt;
    padding: 0pt;
    width: auto;
    font-size: 28px;
    bottom:5px;
    right:20px;
}
h2{margin: 20px 0px 10px 20px;}
ul li { list-style: square; }

table
{
    border: 3px solid black;
    border-spacing: 0px;
    margin: auto;
    text-align: center;
    tr
    {
        height: 25px;
    }
    tr:first-child
    {
        background-color: rgb(85, 181, 255);
        font-size: 24px;
        font-weight: bold;
    }
    tr:nth-child(5), tr:nth-child(6), tr:nth-child(7)
    {
        height:50px;
    }
    tr:nth-child(2)
    {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        td:nth-child(3)
        {
            width:240px;
        }
        td:nth-child(4)
        {
            width:240px;
        }
    }
    tr.chet
    {
        background-color: #3ae1ff;
    }
    tr.nechet
    {
        background-color: #f1d9b2;
    }
    tr td 
    {
        border: 1px solid black;
        padding: 0px;
        min-width: 100px;
    }
}
form
{
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    width: 340px;
    margin: 10px 0px 10px 50px;
    border: 2px solid black;
    h2
    {
        text-align: center;
        margin: 0px;
        padding-top: 10px;
        left:100px;
        top: 10px;
    }
    .square1
    {
        display: flex;
        justify-content: space-between; /* Распределяет пространство между элементами */
        align-items: center; /* Выравнивание по вертикали */
        width: 95%;
        margin: 10px 5px;
    }
    .other
    {
        margin-left: 5px;
    }
    .descriprion
    {
        margin-left: 5px;
    }
    #submit
    {
        display: block;
        margin: 10px auto;
        
    }
}
footer
{
    height: 30px;
    margin: auto;
    background-color: rgba(252, 255, 47, 0.889);
    p
    {
        margin: 10px;
    }
}



